<!-- V2.3 
Pour afficher une page "officielle" en cas d'erreur quelconque.

Si error.html existe (si thymeleaf ou error.jsp JEE), toute erreur non interceptée
par BindResul dans le controleur arrivera ici.

Sinon, c'est un page d'erreur standard créée par Spring ou le serveur qui sera utilisée.
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/common :: [//head]" />
    <body>    
        <div class="container">
            <h1>Page d'erreur spécialisée !</h1>

            <p th:if="${timestamp}" id='created'>
                <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
            </p>

            <p th:if="${status}">
                <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
                    th:if="${error}" th:text="'('+${error}+')'">error ...</span>
            </p>

            <p>Application has encountered an error. Please contact support on
                ...</p>

            <p>Support may ask you to right click to view page source.</p>

            <!--
              // Hidden Exception Details  - this is not a recommendation, but here is
              // how you hide an exception in the page using Thymeleaf
            -->
            <div th:utext="'&lt;!--'" th:remove="tag"></div>
            <div th:utext="'Failed URL: ' +  ${url}" th:remove="tag">${url}</div>
            <div th:utext="'Exception: ' + ${exception.message}" th:remove="tag">${exception.message}</div>
            <ul th:remove="tag">
                <li th:each="ste : ${exception.stackTrace}" th:remove="tag"><span
                        th:utext="${ste}" th:remove="tag">${ste}</span></li>
            </ul>

            <div th:replace="fragments/common :: [//div[@class='footer']]"></div>
            <div th:replace="fragments/common :: [//div[@id='scripts']]"></div>
        </div>
    </body>
</html>